@import url('https://fonts.googleapis.com/css2?family=PT+Mono&display=swap');

body {
	border-top: 3px solid #FE7600; /* полоса сверху */
	margin: 0;
	color: #FFFFFF; /* текст */
	background-color: #05060B; /* фон страницы */
  font-family: "PT Mono", monospace;
  font-weight: 400;
  font-style: normal;
}

a {
  text-decoration: none; /* убрать подчёркивание */
  color: #FFFFFF; /* текст */
}

h1, h2, h3, h4 {
	-webkit-margin-before: 0px;
	-webkit-margin-after: 0.5em;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
	
	border-bottom: 3px solid #FE7600; /* подчёркивание */
	display: inline-block;
	color: #FFFFFF; /* заголовки разделов */
	font-weight: 600;		
}

ul {
	-webkit-margin-before: 0px;
	-webkit-margin-after: 0px;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
	-webkit-padding-start: 0px;
	
	list-style: none;
}

.container {
	width: 70%;
	height: auto;

	margin: auto; 
	position: absolute; 
	top: 0; 
	left: 0; 
	bottom: 0; 
	right: 0;
}

.row {
	padding-bottom: 15px;
	padding-left: 20px;
}

header {
	display: inline-block;
	margin-top: 50px;
}

header h1 {
	font-size: 40pt;
}

header ul { 

}

header ul li {
	height: 25px;
}

header ul li i {
	color: #FE7600; /* пикто */
	padding-right: 5px;
	padding-left: 5px;
	font-size: 18px;
}

article {
	margin-top: 20px;
}

article h2 {
	font-size: 20pt;
}

article .header {
	color: #FE7600; /* заголовки */
	font-weight: 600;
}

article .header span {
	font-size: 10pt;
	font-style: italic;
}

article .right{
	float: right;
	width: 20%;
	font-weight: 600;
	
}

article .description {
	font-style: italic;
	font-size: 9pt;
}

article .exp-list .fa {
	color: #E32636;
	padding-right: 5px;
	font-size: 12px;
}

article ul li {
	min-height: 25px;
	max-width: 80%;
}

article .reference {
	width: 40%;
	display: inline-block;
}

article .reference ul li {
	max-width: 100%;
}

article .spacer {
	height: 15px;
}

article .tech ul li {
	max-width: 100% !important;
}

article .tech span {
	font-weight: 600;
	color: #E32636;
}

a:hover {
  color: #FE7600; /* текст */
}

article a:hover .header {
  color: #EEE; /* текст */
}
